<h1>Adnat</h1>

<p>
  <p>Logged in as:
  <%= @user.name %>
  <%= link_to 'Log out', logout_path %>
  </p>
</p>

<% if @user.organizations.count > 0 %>
  <%= @user.organizations.each do |organization| %>
    <h1><%= organization.name %></h1>
    <%= link_to 'View Shifts', new_user_shift_path(@user) %>
    <%= link_to 'Edit', edit_user_organization_path(organization) %>
    <%= link_to 'Leave', edit_user_organization_path(organization) %>
  <% end %>
<% else %>
  <p>
      You aren't a memeber of any organizations. Join an existing one or create a new one.
  </p>

  <h2>Organizations</h2>
  <% @users.each do |user| %>
    <% user.organizations.each do |organization| %>
      <ul>
        <li>
          <%= organization.name %>
          <%= link_to 'Edit', edit_user_organization_path(organization) %>
          <%= link_to 'Join', user_organization_path(organization) %>
        </li>
      </ul>
    <% end %>
  <% end %>
   
  <h2>Create Organization:</h2>
  <%= form_with(model: [ @user, @user.organizations.build ], local: true) do |form| %>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :hourly_rate %> $
      <%= form.number_field :hourlyrate, step: 0.1 %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>
<br>
<%= link_to 'Edit', edit_user_organization_path(@user) %> |
<%= link_to 'Back', users_path %>
