<h1>Adnat</h1>

<p>
  <p>Logged in as:
  <%= @user.name %>
  <%= link_to 'Log out', logout_path %>
  </p>
</p>

<h2>Shifts</h2>
<table style="border: 1px solid black">
  <tr style="border: 1px solid black">
    <th style="border: 1px solid black">Employee Name</th>
    <th style="border: 1px solid black">Shift Date</th>
    <th style="border: 1px solid black">Start Time</th>
    <th style="border: 1px solid black">Finish Time</th>
    <th style="border: 1px solid black">Break Length (Minutes)</th>
    <th style="border: 1px solid black">Hours worked</th>
    <th style="border: 1px solid black">Shift cost</th>
  </tr>
    <% @users.each do |user| %>
      <% user.shifts.each do |shift| %>
        <tr style="border: 1px solid black">
          <td style="border: 1px solid black">
            <%= user.name %>
          </td>
          <td style="border: 1px solid black">
            <%= shift.start.strftime('%B %d, %Y') %>
          </td>
          <td style="border: 1px solid black">
            <%= shift.start.strftime('%H:%M') %>
          </td>
          <td style="border: 1px solid black">
            <%= shift.finish.strftime('%H:%M') %>
          </td>
          <td style="border: 1px solid black">
            <%= shift.breaklength %>
          </td>
          <td style="border: 1px solid black">
            <%= ((shift.finish - shift.start)/3600) - shift.breaklength/60 %>
          </td>
          <td style="border: 1px solid black">
            <% user.organizations.each do |organization| %>
              <%= organization.hourlyrate * ((shift.finish - shift.start)/3600) - shift.breaklength/60 %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <tr style="border: 1px solid black">
    <%= form_with(model: [ @user, @user.shifts.build ], local: true) do |form| %>
      <td style="border: 1px solid black">
        <%= form.label :name %>
      </td>
      <td style="border: 1px solid black">
        <%= form.date_select :date, class: 'form-control' %>
      </td>
      <td style="border: 1px solid black">
        <%= form.time_select :start %>
      </td>
      <td style="border: 1px solid black">
        <%= form.time_select :finish %>
      </td>
      <td style="border: 1px solid black">
        <%= form.number_field :breaklength, :value => 0 %>
      </td>
      <td style="border: 1px solid black">
          <%= form.submit %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', user_path(@user) %>
